:root {
  --black: #000;
  --light-blue: #2998ff;
  --dark-blue: #135cc5;
  --light-red: #f87171;
  --dark-red: #dc2626;
  --gray: #252c30;

  /*Intentions */
  --primary: var(--light-blue);
  --secondary: var(--dark-blue);

  /*Typography */
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}
.warm {
  --primary: var(--light-red);
  --secondary: var(--dark-red);
}
.cool {
  --primary: var(--light-blue);
  --secondary: var(--dark-blue);
}


.heading{
background-color: #1a1a1a;
padding: 20px;
}

body {
  background-color:var(--primary);
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
form{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
button{
  text-align: center;
  margin:2%;
  display: inline-block;
  align-items: center;
}

.name{
  font-family: bold;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
.card {
  width: 28%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items:center;
  background-color: #9f9374;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  box-shadow: 10px 10px 5px 1px #5e5748;
  transition:.8s ease-in;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem
  
}

.type,.name,.veganornot,.price{
  inset: auto auto 30px 30px;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  background-color: #f9f9f9;
}


.card-img{
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
  transition: opacity .2s ease-out;
}
.card-img:hover{
  opacity: 1;
}

h1 {
  font-size: var(--h1);
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: black;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
